[submodule "frontend"]
	path = frontend
	url = git@github.com:ASUDR/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:ASUDR/backend.git
[submodule "backend-nest"]
	path = backend-nest
	url = git@github.com:ASUDR/backend-nest.git
